# .github/workflows/main.yml

name: Trigger Netlify Build
on:
  schedule:
    # Run every 3 hours
    - cron: '0 */3 * * *'
jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Curl request
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/5eb043e57feab75eb0354af2
